<div class="flex w-full">
    <mat-drawer-container class="example-container w-full" autosize>
        <mat-drawer #drawer class="example-sidenav w-full" mode="over">
            <div class="lg:w-4/5 w-full p-5 bg-card shadow lg:hidden">
                <span
                    class="material-icons lg:hidden px-0 pb-5"
                    (click)="drawer.toggle()"
                >
                    close
                </span>

               <form [formGroup]="fileList">
                   <form [formGroupName]="'data'">
                    <div class="h-full">
                        <div class="pb-3">
                            <mat-form-field
                                class="fuse-mat-emphasized-affix w-full"
                                appearance="fill"
                            >
                                <span matPrefix> Tài Liệu</span>
                                <input
                                    matInput
                                    type="text"
                                    class="w-full h-full text-red-500"
                                    placeholder="Tài Liệu"
                                    [formControlName]="'tailieu'"
                                />
                            </mat-form-field>
                        </div>
    
                        <div class="flex justify-between flex-col lg:flex-row">
                            <mat-form-field
                                class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:mr-3"
                                appearance="fill"
                            >
                                <span matPrefix>Chọn Menu </span>
                                <mat-select>
                                    <mat-option>a</mat-option>
                                </mat-select>
                                <div
                                    matSuffix
                                    class="flex justify-around items-center"
                                >
                                    <div
                                        class="h-3 w-3 rounded-sm bg-white mr-2"
                                    ></div>
                                    <span>Sửa</span>
                                </div>
                            </mat-form-field>
    
                            <mat-form-field
                                class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:ml-3"
                                appearance="fill"
                            >
                                <span matPrefix>Tags </span>
                                <input
                                    matInput
                                    type="text"
                                    class="w-full h-full text-red-500"
                                    placeholder="Tài Liệu"
                                    [formControlName]="'tag'"
    
                                />
                            </mat-form-field>
                        </div>
    
                        <div class="flex justify-between flex-col lg:flex-row">
                            <mat-form-field
                                class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:mr-3"
                                appearance="fill"
                            >
                                <span matPrefix>Dự kiến triển khai </span>
                                <input
                                    matInput
                                    type="datetime-local"
                                    class="w-full h-full text-red-500"
                                    placeholder="start date"
                                    [formControlName]="'date'"
    
                                />
                            </mat-form-field>
                            <mat-form-field
                                class="fuse-mat-emphasized-affix lg:w-1/2 lg:ml-3 w-full"
                                appearance="fill"
                            >
                                <span matPrefix>Deadling </span>
                                <input
                                    matInput
                                    type="datetime-local"
                                    class="w-full h-full text-red-500"
                                    placeholder="end date"
                                    [formControlName]="'deadline'"
    
                                />
                            </mat-form-field>
                        </div>
    
                        <div class="flex flex-col lg:flex-row">
                            <div class="lg:w-1/2 w-full lg:mr-3">
                                <p>Nội dung</p>
                                <ckeditor
                                    [editor]="Editor"
                                    data="<p>Hello, world!</p>"
                                    [formControlName]="'content'"
    
                                ></ckeditor>
                            </div>
                            <div class="lg:w-1/2 w-full lg:ml-3">
                                <p>Ghi chú</p>
                                <ckeditor
                                    [editor]="Editor"
                                    data="<p>Hello, world!</p>"
                                    [formControlName]="'note'"
    
                                ></ckeditor>
                            </div>
                        </div>
                        <div class="flex justify-between pt-3 flex-col lg:flex-row">
                            <div class="lg:w-2/6">
                                <p>Tác Giả Chính</p>
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix w-full"
                                    appearance="fill"
                                >
                                    <mat-select>
                                        <mat-option>a</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="lg:w-2/6 lg:mx-3">
                                <p>Đồng Tác Giả</p>
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix w-full"
                                    appearance="fill"
                                >
                                    <input
                                        matInput
                                        type="text"
                                        class="w-full h-full text-red-500"
                                        placeholder="Tài Liệu"
                                    [formControlName]="'sameAuthor'"
    
                                    />
                                </mat-form-field>
                            </div>
                            <div class="lg:w-2/6">
                                <p>Kiểm Duyệt</p>
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix w-full"
                                    appearance="fill"
                                >
                                    <input
                                        matInput
                                        type="text"
                                        class="w-full h-full text-red-500"
                                        placeholder="Tài Liệu"
                                    [formControlName]="'censor'"
    
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                        <div
                            class="form-group py-5 flex lg:justify-start justify-between"
                        >
                            <button
                                type="submit"
                                class="btn text-white bg-indigo-900 p-3 rounded-lg"
                            >
                                Submit
                            </button>
    
                            
    
                            <button
                                type="delete"
                                class="btn text-white bg-red-500 p-3 rounded-lg"
                                (click)="deleteFileDetail()"
                            >
                                Delete
                            </button>
                        </div>
                    </div>
                   </form>
               </form>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content w-full flex h-full">
            <div class="lg:w-1/5 w-full h-full bg-card shadow pt-5">
                <div class="w-full h-full bg-card shadow">
                    <div
                        class="mx-3 bg-gray-300 flex justify-center items-center py-2 rounded-lg cursor-pointer addFolder"
                        (click)="addFolder()"
                    >
                        <div class="rounded-full px-1 bg-blue-100 mr-2">+</div>
                        <div class="text-gray-500">New Folder</div>
                    </div>
                    <div>
                        <mat-tree
                            [dataSource]="dataSource"
                            [treeControl]="treeControl"
                            class="bg-[#fafafa]"
                        >
                            <!-- This is the tree node template for leaf nodes -->
                            <mat-tree-node
                                *matTreeNodeDef="let node"
                                matTreeNodePadding
                            >
                                <div
                                    *ngIf="node.type == 'file'"
                                    class="flex items center lg:hidden"
                                    (click)="drawer.toggle()"
                                >
                                    <button mat-icon-button disabled></button>
                                    <span class="material-icons">
                                        description
                                    </span>
                                    <p>{{ node.item }}</p>
                                </div>
                                <div
                                    *ngIf="node.type == 'file'"
                                    class="items center hidden lg:flex"
                                >
                                    <button mat-icon-button disabled></button>
                                    <span class="material-icons pr-4">
                                        description
                                    </span>
                                    <input
                                        class="w-32"
                                        type="text"
                                        placeholder="Enter Text"
                                        value="{{ node.item }}"
                                        (change)="updateFile(node, $event)"
                                        (click)="getFileDetail(node)"
                                    />
                                </div>
                                <div
                                    *ngIf="node.type == 'folder'"
                                    class="flex items-center"
                                >
                                    <button mat-icon-button disabled></button>
                                    <span class="material-icons pr-4">
                                        folder
                                    </span>
                                    <input
                                        class="w-32"
                                        type="text"
                                        placeholder="Enter Text"
                                        value="{{ node.item }}"
                                        (change)="updateFolder(node, $event)"
                                    />
                                    <button [matMenuTriggerFor]="menu">
                                        +
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            mat-menu-item
                                            (click)="addFolderChild(node.id)"
                                        >
                                            Add Folder
                                        </button>

                                        <button
                                            mat-menu-item
                                            (click)="addFile(node.id)"
                                        >
                                            Add File
                                        </button>
                                    </mat-menu>
                                </div>
                                <!-- use a disabled button to provide padding for tree leaf -->
                            </mat-tree-node>
                            <!-- This is the tree node template for expandable nodes -->
                            <mat-tree-node
                                *matTreeNodeDef="let node; when: hasChild"
                                matTreeNodePadding
                            >
                                <div
                                    *ngIf="node.type == 'folder'"
                                    class="flex items-center"
                                >
                                    <button
                                        mat-icon-button
                                        matTreeNodeToggle
                                        [attr.aria-label]="
                                            'Toggle ' + node.item
                                        "
                                    >
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{
                                                treeControl.isExpanded(node)
                                                    ? "expand_more"
                                                    : "chevron_right"
                                            }}
                                        </mat-icon>
                                    </button>
                                    <span class="material-icons pr-4">
                                        folder
                                    </span>
                                    <input
                                        class="w-32"
                                        type="text"
                                        placeholder="Enter Text"
                                        value="{{ node.item }}"
                                        (change)="updateFolder(node, $event)"
                                    />
                                    <button [matMenuTriggerFor]="menu">
                                        +
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            mat-menu-item
                                            (click)="addFolderChild(node.id)"
                                        >
                                            Add Folder
                                        </button>

                                        <button
                                            mat-menu-item
                                            (click)="addFile(node.id)"
                                        >
                                            Add File
                                        </button>
                                    </mat-menu>
                                </div>
                            </mat-tree-node>
                        </mat-tree>
                    </div>
                </div>
            </div>

            <div class="lg:w-4/5 w-full p-5 bg-card shadow hidden lg:block">
                <!-- <button
                  type="button"
                  (click)="drawer.toggle()"
                  class="lg:hidden px-0 pb-5"
              >
                  <div class="space-y-2">
                      <div class="w-8 h-0.5 bg-gray-600"></div>
                      <div class="w-8 h-0.5 bg-gray-600"></div>
                      <div class="w-8 h-0.5 bg-gray-600"></div>
                  </div>
              </button> -->
                <form [formGroup]="fileList">
                    <form [formGroupName]="'data'">
                        <div class="h-full">
                            <div class="pb-3">
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix w-full"
                                    appearance="fill"
                                >
                                    <span matPrefix> Tài Liệu</span>
                                    <input
                                        matInput
                                        type="text"
                                        class="w-full h-full text-red-500"
                                        placeholder="Tài Liệu"
                                        [formControlName]="'tailieu'"
                                    />
                                </mat-form-field>
                            </div>

                            <div
                                class="flex justify-between flex-col lg:flex-row"
                            >
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:mr-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Chọn Menu </span>
                                    <mat-select>
                                        <mat-option>a</mat-option>
                                    </mat-select>
                                    <div
                                        matSuffix
                                        class="flex justify-around items-center"
                                    >
                                        <div
                                            class="h-3 w-3 rounded-sm bg-white mr-2"
                                        ></div>
                                        <span>Sửa</span>
                                    </div>
                                </mat-form-field>

                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:ml-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Tags </span>
                                    <input
                                        matInput
                                        type="text"
                                        class="w-full h-full text-red-500"
                                        placeholder="Tài Liệu"
                                        [formControlName]="'tag'"
                                    />
                                </mat-form-field>
                            </div>

                            <div
                                class="flex justify-between flex-col lg:flex-row"
                            >
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:mr-3"
                                    appearance="fill"
                                >
                                    <span matPrefix>Dự kiến triển khai </span>
                                    <input
                                        matInput
                                        type="datetime-local"
                                        class="w-full h-full text-red-500"
                                        placeholder="start date"
                                        [formControlName]="'date'"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    class="fuse-mat-emphasized-affix lg:w-1/2 lg:ml-3 w-full"
                                    appearance="fill"
                                >
                                    <span matPrefix>Deadling </span>
                                    <input
                                        matInput
                                        type="datetime-local"
                                        class="w-full h-full text-red-500"
                                        placeholder="end date"
                                        [formControlName]="'deadline'"

                                    />
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col lg:flex-row">
                                <div class="lg:w-1/2 w-full lg:mr-3">
                                    <p>Nội dung</p>
                                    <ckeditor
                                        [editor]="Editor"
                                        data="<p>Hello, world!</p>"
                                        [formControlName]="'content'"

                                    ></ckeditor>
                                </div>
                                <div class="lg:w-1/2 w-full lg:ml-3">
                                    <p>Ghi chú</p>
                                    <ckeditor
                                        [editor]="Editor"
                                        data="<p>Hello, world!</p>"
                                        [formControlName]="'note'"

                                    ></ckeditor>
                                </div>
                            </div>
                            <div
                                class="flex justify-between pt-3 flex-col lg:flex-row"
                            >
                                <div class="lg:w-2/6">
                                    <p>Tác Giả Chính</p>
                                    <mat-form-field
                                        class="fuse-mat-emphasized-affix w-full"
                                        appearance="fill"

                                    >
                                        <mat-select>
                                            <mat-option>a</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="lg:w-2/6 lg:mx-3">
                                    <p>Đồng Tác Giả</p>
                                    <mat-form-field
                                        class="fuse-mat-emphasized-affix w-full"
                                        appearance="fill"

                                    >
                                        <input
                                            matInput
                                            type="text"
                                            class="w-full h-full text-red-500"
                                            placeholder="Tài Liệu"
                                        [formControlName]="'sameAuthor'"

                                        />
                                    </mat-form-field>
                                </div>
                                <div class="lg:w-2/6">
                                    <p>Kiểm Duyệt</p>
                                    <mat-form-field
                                        class="fuse-mat-emphasized-affix w-full"
                                        appearance="fill"

                                    >
                                        <input
                                            matInput
                                            type="text"
                                            class="w-full h-full text-red-500"
                                            placeholder="Tài Liệu"

                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="filedetail">
                                <app-upload-file [id]="filedetail.id" [deleteFile]="deleteFile" ></app-upload-file>
                            </div>
                            
                            <div
                                class="form-group py-5 flex lg:justify-start justify-between"
                            >
                                <button
                                    type="submit"
                                    class="btn text-white bg-indigo-900 p-3 rounded-lg"
                                    (click)="onSubmit()"
                                >
                                    Submit
                                </button>
                                <button
                                    type="delete"
                                    class="btn text-white bg-red-500 p-3 rounded-lg mx-5"
                                    (click)="deleteFileDetail()"
                                >
                                    Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </form>

            </div>
        </div>
    </mat-drawer-container>
</div>
