<div class="example-sidenav-content w-full flex h-full">
    <div class="lg:w-1/5 w-full h-full bg-card shadow pt-5">
        <div class="w-full h-full bg-card shadow">
            <div
                class="mx-3 bg-gray-300 flex justify-center items-center py-2 rounded-lg cursor-pointer addFolder"
            >
                <div class="text-gray-500 text-xl">Danh sách đề thi</div>
            </div>
            <div class="flex flex-col items-center">
                <div
                    class="py-2"
                    *ngFor="let item of dethi"
                    (click)="onChange(item)"
                >
                    {{ item.name }}
                </div>
            </div>
        </div>
    </div>

    <div class="lg:w-4/5 w-full p-5 bg-card shadow hidden lg:block">
        <!-- <button
          type="button"
          (click)="drawer.toggle()"
          class="lg:hidden px-0 pb-5"
      >
          <div class="space-y-2">
              <div class="w-8 h-0.5 bg-gray-600"></div>
              <div class="w-8 h-0.5 bg-gray-600"></div>
              <div class="w-8 h-0.5 bg-gray-600"></div>
          </div>
      </button> -->
        <form [formGroup]="dethiList" (keydown.enter)="$event.preventDefault()">
            <div class="flex justify-between flex-col lg:flex-row">
                <mat-form-field
                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:mr-3"
                    appearance="fill"
                >
                    <span matPrefix>Tài liệu nguồn</span>

                    <mat-select>
                        <mat-option
                            [value]="item"
                            *ngFor="let item of tailieunguon"
                            >{{ item.item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    class="fuse-mat-emphasized-affix lg:w-1/2 w-full lg:ml-3"
                    appearance="fill"
                >
                    <span matPrefix>Người Duyệt </span>
                    <mat-select [formControlName]="'idNguoiduyet'">
                        <mat-option value="Chọn Hình Thức"
                            >Vui lòng chọn</mat-option
                        >
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full flex pt-3">
                <div class="w-1/2 mr-3 overflow-y-auto h-96">
                    <div
                        class="flex w-full h-12 rounded-xl border flex items-center px-3 border-gray-200"
                    >
                        <span
                            class="h-full w-52 border-r border-gray-200 flex flex-col items-center justify-center pr-3"
                            >Tài liệu nguồn</span
                        >

                        <mat-select
                            class="overflow-auto border-r border-gray-200 pr-3 h-full py-3"
                            (selectionChange)="tailieunguonChange($event)"
                        >
                            <mat-option
                                [value]="item"
                                *ngFor="let item of tailieunguon"
                                >{{ item.item }}
                            </mat-option>
                        </mat-select>
                        <div
                            class="px-3 flex flex-col justify-center items-center border-r border-gray-200 pr-3 h-full cursor-pointer"
                            (click)="refeshCauhoi()"
                        >
                            <span class="material-icons"> autorenew </span>
                        </div>
                        <div class="w-52 px-3 flex items-center">
                            <p
                                class="text-sm text-white bg-blue-500 p-1 rounded-xl font-bold mr-2"
                            >
                                {{ cauhoi?.length }}
                            </p>
                            <p class="text-gray-500">Câu hỏi</p>
                        </div>
                    </div>
                    <div
                        class="relative overflow-auto shadow-md sm:rounded-lg w-full mt-3 {{
                            cauhoiList?.length > 0 ? 'block' : 'hidden'
                        }} "
                    >
                        <table
                            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                        >
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                            >
                                <tr class="">
                                    <th
                                        scope="col"
                                        class="px-6 py-3 uppercase text-center"
                                    >
                                        #
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 uppercase text-center"
                                    >
                                        Điểm
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 uppercase text-center"
                                    >
                                        Mã câu hỏi
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 uppercase text-center"
                                    >
                                        Câu hỏi
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 uppercase text-center"
                                    >
                                        Cấp độ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                                    *ngFor="let item of cauhoiList"
                                >
                                    <td
                                        scope="row"
                                        class="px-4 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap"
                                    >
                                        <div
                                            class="flex cursor-pointer"
                                            (click)="itemCauhoi(item)"
                                        >
                                            <p
                                                class="p-1 w-4 h-4 flex items-center justify-center rounded-full bg-black text-white font-bold mr-3"
                                            >
                                                +
                                            </p>
                                            <p
                                                class="text-white  w-20 text-center rounded-2xl {{
                                                    item.type == 1
                                                        ? 'bg-blue-500'
                                                        : 'bg-red-500'
                                                }}"
                                            >
                                                {{
                                                    item.type == 1
                                                        ? "Trắc nghiêm"
                                                        : "Tự luận"
                                                }}
                                            </p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-2 text-center">
                                        <input
                                            type="number"
                                            class="px-3 py-2 w-20 border border-black rounded-xl"
                                            [formControlName]="'diem'"
                                        />
                                    </td>
                                    <td class="px-4 py-2 w-24 text-center">
                                        Laptop
                                    </td>
                                    <td class="px-4 py-2 w-48 text-center">
                                        <div
                                            [innerHTML]="item.cauhoi"
                                            class="break-words w-36"
                                        ></div>
                                    </td>
                                    <td class="px-4 py-2 text-center">
                                        {{ item.capdo }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ml-3 flex w-1/2 flex-col overflow-y-auto h-96">
                    <div class="w-full">
                        <div
                            class="w-full border border-gray-300 rounded-lg mb-3"
                            *ngFor="let item of cauhoiRender; index as i"
                        >
                            <div
                                class="border-t border-black rounded-t-lg p-3 flex justify-between bg-black text-white text-lg"
                            >
                                <div class="flex">
                                    <p class="text-white text-lg">
                                        Câu số {{ i + 1 }} -
                                    </p>
                                    <p class="text-lg text-white">
                                        {{ item.diem }} Điểm
                                    </p>
                                </div>
                                <p
                                    class="w-5 h-5 cursor-pointer text-xl rounded-full bg-white text-black text-center flex items-center justify-center flex-col"
                                    (click)="removeCauhoiItem(item)"
                                >
                                    -
                                </p>
                            </div>
                            <div class="p-5">
                                <div
                                    [innerHTML]="item.cauhoi"
                                    class="text-lg break-words w-full"
                                ></div>

                                <textarea
                                    class="p-3 mt-3 border border-gray-500 rounded-lg w-full"
                                    placeholder="Trả lời"
                                ></textarea>
                            </div>
                            <div
                                class="border-b border-blue-500 rounded-b-lg p-3 flex bg-blue-500 text-white text-lg w-full"
                                *ngIf="item.type == 2; else tracnghiem"
                            >
                                <div class="break-words w-full">
                                    Đáp án tự luận là:
                                    <div [innerHTML]="item.dapan"></div>
                                </div>
                            </div>
                            <ng-template #tracnghiem>
                                <div
                                    #tracnghiem
                                    class="border-b border-blue-500 rounded-b-lg p-3 flex bg-blue-500 text-white text-lg w-full"
                                >
                                    <div class="break-words w-full flex items-center">
                                        Đáp án trắc nghiệm là:
                                        <div
                                        class="flex items-center"
                                            *ngFor="
                                                let x of item.dapan | keyvalue
                                            "
                                        >
                                            <span
                                                class="px-2 py-1 mx-2 w-5 h-5 rounded-full text-white flex items-center justify-center cursos-pointer bg-red-500"
                                                >{{ x.key | tracnghiemPipe }}
                                            </span>
                                            <span>
                                                {{ x.value }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-3">
                <p>Ghi chú</p>
                <ckeditor
                    [editor]="Editor"
                    data="<p>Ghi Chú</p>"
                    [formControlName]="'note'"
                ></ckeditor>
            </div>

            <div class="form-group py-5 flex lg:justify-start justify-between">
                <button
                    type="submit"
                    class="btn text-white bg-indigo-900 p-3 rounded-lg"
                    (click)="onSubmit()"
                >
                    Submit
                </button>
                <button
                    type="submit"
                    class="btn text-white bg-indigo-600 p-3 rounded-lg mx-5"
                    (click)="updateDethi()"
                >
                    Update
                </button>
                <button
                    type="delete"
                    class="btn text-white bg-red-500 p-3 rounded-lg"
                    (click)="deleteDethi()"
                >
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>
